@{
    Layout = null;
}
@using BatesOrtho.Models
@Model BatesOrtho.Models.AppointmentReq

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
     <p>First Name: @Model.FirstName</p>
     <p>Last Name: @Model.LastName</p>
     <p>DOB: @Model.DOB</p>
     <p>Responsible Party First Name: @Model.ResponsiblePartyFirstName</p>
     <p>Responsible Party Last Name: @Model.ResponsiblePartyLastName</p>
     <p>New Patient? @Model.IsNewPatient</p>
     <p>Phone: @Model.Phone</p>
     <p>Email: @Model.Email</p>
     <p>Preferred Mode Of Contact: @Model.PreferredModeOfContact</p>
     <p>Convenient Times: @Model.ConvenientTimes</p>
     <p>How Did You Hear? @Model.HowDidYouHear</p>
     <p>General Dentist Name: @Model.GeneralDentistName</p>
     <p>Additional Comments: @Model.AdditionalComments</p>
     <p>Preferred Days: @Model.PreferredDays</p>
    </div>
</body>
</html>
