@{
    Layout = null;
}
@*@using BatesOrtho.Models*@
@*@Model BatesOrtho.Models.AppointmentReq*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><strong> Name:</strong> @Model.FirstName</p>
        <p><strong>Last Name:</strong> @Model.LastName</p>
        <p><strong>DOB:</strong> @Model.DOB.ToString("d")</p>
        <p><strong>Responsible Party First Name:</strong> @Model.ResponsiblePartyFirstName</p>
        <p><strong>Responsible Party Last Name:</strong> @Model.ResponsiblePartyLastName</p>
        <p><strong>New Patient?</strong> @Model.IsNewPatient</p>
        <p><strong>Phone:</strong> @Model.Phone</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Preferred Mode Of Contact:</strong> @Model.PreferredModeOfContact</p>
        <p><strong>Convenient Times:</strong> @Model.ConvenientTimes</p>
        <p><strong>How Did You Hear?</strong> @Model.HowDidYouHear</p>
        <p><strong>General Dentist Name:</strong> @Model.GeneralDentistName</p>
        <p><strong>Additional Comments:</strong> @Model.AdditionalComments</p>
        <p><strong>
    Preferred Days:
  </strong><br /> @foreach (var item in Model.PreferredDays)
            {
             @item <br />
            }
       </p>
    </div>
</body>

</html>
