@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
     <p><strong>Doctor First Name:</strong>  @Model.DoctorFirstName</p>
     <p><strong>Last Name:</strong> @Model.DoctorLastName</p>
     <p><strong>Practice Name:</strong> @Model.PracticeName</p>
     <p><strong>Doctor Email:</strong> @Model.DoctorEmail</p>
     <p><strong>Patient First Name:</strong> @Model.PatientFirstName</p>
     <p><strong>Patient Last Name:</strong> @Model.PatientLastName</p>
     <p><strong>Patient Phone Number:</strong> @Model.PatientPhoneNumber</p>
     <p><strong>Patient Email Address:</strong> @Model.PatientEmailAddress</p>
     <p><strong>Radiographs Sent:</strong> @Model.RadiographsSent</p>
     <p><strong>Comments:</strong> @Model.Comments</p>
    </div>
</body>
</html>
