@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><strong>Date:</strong> @Model.Date</p>
        <p><strong>First Name:</strong> @Model.FirstName</p>
        <p><strong>Last Name:</strong> @Model.LastName</p>
        <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
        <p><strong>Address:</strong> @Model.PhoneNumber</p>
        <p><strong>Address Line 2:</strong> @Model.AddressLine2</p>
        <p><strong>City: </strong>@Model.City</p>
        <p><strong>State: </strong>@Model.State</p>
        <p><strong>Zip: </strong>@Model.Zip</p>
        <p><strong>Patient Treatment Status:</strong> @Model.PatientTreatmentStatus</p>
        <p><strong>Organization: </strong>@Model.Organization</p>
        <p><strong>Ad Size: </strong>@Model.AdSize</p>
        <p><strong>Ad Cost: </strong>@Model.AdCost</p>
        <p><strong>Due Date:</strong> @Model.DueDate</p>
        <p><strong> Emailed To: </strong>@Model.ArtworkEmailedTo</p>
        <p><strong>Check Payable To:</strong> @Model.CheckPayableTo</p>
        <p><strong>Send Check To Address: </strong>@Model.SendCheckToAddress</p>
        <p><strong>Send Check To Address2:</strong> @Model.SendCheckToAddress2</p>
        <p><strong>Send Check To City:</strong> @Model.SendCheckToCity</p>
        <p><strong>Send Check To State:</strong> @Model.SendCheckToState</p>
        <p><strong>Send Check To Zip: </strong>@Model.SendCheckToZip</p>
        <p><strong>Comments:</strong> @Model.Comments</p>
    </div>
</body>
</html>
